@font-face{
	font-family: 'Mondwest';
	src: url('Mondwest/Mondwest-Regular.woff') format('woff'),
		url('Mondwest-Regular.woff2') format('woff2');
	font-weight: normal;
	font-style: normal;
}
@font-face{
	font-family: 'NeueBit';
	src: url('NeueBit/NeueBit-Bold.woff') format('woff'),
		url('NeueBit-Bold.woff2') format('woff2');
	font-weight: normal;
	font-style: normal;
}
#mydiv {
  box-shadow: 5px 5px 5px grey;
  position: absolute;
  z-index: 9;
  background-color: #f1f1f1;
  text-align: center;
  border: 1px solid #d3d3d3;
}
#mydivheader {
  font-family: NeueBit;
  font-size: 80px;
  padding: 10px;
  cursor: move;
  z-index: 10;
  background-color: #D1CECE;
  color: black;
  border: 2px solid black;

}
body {
    background-color: #D6D6D6;
    text-align:center;
    margin:auto;
  }
  h1{
    font-weight: normal;
	font-style: normal;
    font-family: Mondwest;
    font-size: 100px;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 5px;
  }
button{
  box-shadow: 10px 10px 5px grey;
  font-family: Mondwest;
  font-weight: normal;
	font-style: normal;
  font-size: 100px;
  margin-top: 15px;
  text-align: center;

}
#clearDrawing{
  box-shadow: 2px 2px 2px grey;
  font-size: 50px;
  font-family: NeueBit;
}
.grid-container{
  box-shadow: 10px 10px 5px grey;
  background-color: white;
  margin:auto;
  display:grid;
  width: 700px;
  height: 400px;
  grid-template-columns: repeat(65, 1fr);
  grid-template-rows: repeat(47, 1fr);
}
.horse{
  margin-top: -395px;
  width: 40%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  display: none;

}
.try_again{
  display: block;
  margin-left: auto;
  margin-right: auto;
  display: none;
}
.feed_him{
  display: block;
  margin-left: auto;
  margin-right: auto;
}
#word1{
  font-weight: normal;
	font-style: normal;
    font-family: Mondwest;
    font-size: 100px;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 5px;
}
.header2{
  font-weight: normal;
	font-style: normal;
    font-family: Mondwest;
    font-size: 100px;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 5px;
    display: none;
}
.color{
  background-color: #4CAF50; 
  border: none;
  padding: 30px;
  text-align: center;
  text-decoration: none;
  /* box-shadow: none; */
  position: static;
}
#one{
  background-color: #DECE3E;
}
#two{
  background-color: #DE8B3E;
}
#three{
  background-color: #DE3E3E;
}
#four{
  background-color: #FFA4A4;
}
#five{
  background-color: #B43EDE;
}
#six{
  background-color: #3E4EDE;
}
#seven{
  background-color: #3EC1DE;
}
#eight{
  background-color: #84DE3E;
}
#nine{
  background-color: #177C33;
}
#ten{
  background-color: #66482D;
}
#eleven{
  background-color: #963600;
}
#twelve{
  background-color: #000000;
}
@media screen and (max-width: 768px) {
  #mydiv {
    box-shadow: 5px 5px 5px grey;
    position: fixed;
    z-index: 9;
    background-color: #f1f1f1;
    text-align: center;
    border: 1px solid #d3d3d3;
  }
  #mydivheader {
    font-family: NeueBit;
    font-size: 30px;
    /* padding: 10px; */
    /* cursor: move; */
    z-index: 10;
    background-color: #D1CECE;
    color: black;
    border: 2px solid black;
  
  }
  body {
      background-color: #D6D6D6;
      text-align:center;
      margin:auto;
    }
    h1{
      font-weight: normal;
    font-style: normal;
      font-family: Mondwest;
      font-size: 50px;
      text-align: center;
      margin-top: 10px;
      margin-bottom: 5px;
    }
  button{
    box-shadow: 10px 10px 5px grey;
    font-family: Mondwest;
    font-weight: normal;
    font-style: normal;
    font-size: 50px;
    margin-top: 15px;
    text-align: center;
  
  }
  #clearDrawing{
    box-shadow: 2px 2px 2px grey;
    font-size: 30px;
    font-family: NeueBit;
  }
  .grid-container{
    box-shadow: 10px 10px 5px grey;
    background-color: white;
    margin:auto;
    display:grid;
    width: 100%;
    height: 400px;
    grid-template-columns: repeat(65, 1fr);
    grid-template-rows: repeat(47, 1fr);
  }
  .horse{
    margin-top: -395px;
    width: 80%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    display: none;
  
  }
  .try_again{
    display: block;
    margin-left: auto;
    margin-right: auto;
    display: none;
  }
  .feed_him{
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  #word1{
    font-weight: normal;
    font-style: normal;
      font-family: Mondwest;
      font-size: 50px;
      text-align: center;
      margin-top: 10px;
      margin-bottom: 5px;
  }
  .header2{
    font-weight: normal;
    font-style: normal;
      font-family: Mondwest;
      font-size: 50px;
      text-align: center;
      margin-top: 10px;
      margin-bottom: 5px;
      display: none;
  }
  .color{
    background-color: #4CAF50; 
    border: none;
    padding: 15px;
    text-align: center;
    text-decoration: none;
    /* box-shadow: none; */
    position: static;
  }



}
/* citations

https://www.w3schools.com/css/css3_shadows_box.asp
https://www.w3schools.com/howto/howto_js_draggable.asp

and Jackies input/output demos: https://vimeo.com/amtparsons/review/537297571/548bb40ae2?sort=lastUserActionEventDate&direction=desc */